[submodule "src/meta-openembedded"]
    path = src/meta-openembedded
    url = git@github.com:openembedded/meta-openembedded.git

[submodule "src/meta-raspberrypi"]
    path = src/meta-raspberrypi
    url = git@github.com:agherzan/meta-raspberrypi.git

[submodule "src/poky"]
    path = src/poky
    url = git@github.com:yoctoproject/poky.git

[submodule "src/meta-qt5"]
    path = src/meta-qt5
    url = git@github.com:meta-qt5/meta-qt5.git

[submodule "src/openembedded-core"]
    path = src/openembedded-core
    url = git@github.com:openembedded/openembedded-core.git